In [27]:
# Import Packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
# Load the dataset
df = pd.read_csv('tech_companies_salary.csv')
# Display the first few rows of the dataframe
print(df.head())
# Display summary information about the dataframe
df.info

            timestamp    company level                         title  \
0    06-07-2017 11:33     Oracle    L3               Product Manager
1    06-10-2017 17:11       eBay  SE 2             Software Engineer
2    06-11-2017 14:53     Amazon    L7               Product Manager
3   6/17/2017 0:23:14      Apple    M1  Software Engineering Manager
4  6/20/2017 10:58:51  Microsoft    60             Software Engineer

   totalyearlycompensation           location  yearsofexperience  \
0                   127000   Redwood City, CA                1.5
1                   100000  San Francisco, CA                5.0
2                   310000        Seattle, WA                8.0
3                   372000      Sunnyvale, CA                7.0
4                   157000  Mountain View, CA                5.0

   yearsatcompany  tag  basesalary  ...  Doctorate_Degree  Highschool  \
0             1.5  NaN      107000  ...                 0           0
1             3.0  NaN           0  ...                 0           0
2             0.0  NaN      155000  ...                 0           0
3             5.0  NaN      157000  ...                 0           0
4             3.0  NaN           0  ...                 0           0

  Some_College Race_Asian  Race_White  Race_Two_Or_More  Race_Black  \
0            0          0           0                 0           0
1            0          0           0                 0           0
2            0          0           0                 0           0
3            0          0           0                 0           0
4            0          0           0                 0           0

   Race_Hispanic  Race  Education
0              0   NaN        NaN
1              0   NaN        NaN
2              0   NaN        NaN
3              0   NaN        NaN
4              0   NaN        NaN

[5 rows x 29 columns]

<bound method DataFrame.info of                 timestamp     company     level                         title  \
0        06-07-2017 11:33      Oracle        L3               Product Manager
1        06-10-2017 17:11        eBay      SE 2             Software Engineer
2        06-11-2017 14:53      Amazon        L7               Product Manager
3       6/17/2017 0:23:14       Apple        M1  Software Engineering Manager
4      6/20/2017 10:58:51   Microsoft        60             Software Engineer
...                   ...         ...       ...                           ...
62637    09-09-2018 11:52      Google        T4             Software Engineer
62638   9/13/2018 8:23:32   Microsoft        62             Software Engineer
62639  9/13/2018 14:35:59        MSFT        63             Software Engineer
62640  9/16/2018 16:10:35  Salesforce  Lead MTS             Software Engineer
62641   1/29/2019 5:12:59       apple      ict3             Software Engineer

       totalyearlycompensation           location  yearsofexperience  \
0                       127000   Redwood City, CA                1.5
1                       100000  San Francisco, CA                5.0
2                       310000        Seattle, WA                8.0
3                       372000      Sunnyvale, CA                7.0
4                       157000  Mountain View, CA                5.0
...                        ...                ...                ...
62637                   327000        Seattle, WA               10.0
62638                   237000        Redmond, WA                2.0
62639                   220000        Seattle, WA               14.0
62640                   280000  San Francisco, CA                8.0
62641                   200000      Sunnyvale, CA                0.0

       yearsatcompany                             tag  basesalary  ...  \
0                 1.5                             NaN      107000  ...
1                 3.0                             NaN           0  ...
2                 0.0                             NaN      155000  ...
3                 5.0                             NaN      157000  ...
4                 3.0                             NaN           0  ...
...               ...                             ...         ...  ...
62637             1.0  Distributed Systems (Back-End)      155000  ...
62638             2.0                      Full Stack      146900  ...
62639            12.0                      Full Stack      157000  ...
62640             4.0                             iOS      194688  ...
62641             0.0                         ML / AI      155000  ...

       Doctorate_Degree  Highschool Some_College Race_Asian  Race_White  \
0                     0           0            0          0           0
1                     0           0            0          0           0
2                     0           0            0          0           0
3                     0           0            0          0           0
4                     0           0            0          0           0
...                 ...         ...          ...        ...         ...
62637                 0           0            0          0           0
62638                 0           0            0          0           0
62639                 0           0            0          0           0
62640                 0           0            0          0           0
62641                 0           0            0          0           0

       Race_Two_Or_More  Race_Black  Race_Hispanic  Race  Education
0                     0           0              0   NaN        NaN
1                     0           0              0   NaN        NaN
2                     0           0              0   NaN        NaN
3                     0           0              0   NaN        NaN
4                     0           0              0   NaN        NaN
...                 ...         ...            ...   ...        ...
62637                 0           0              0   NaN        NaN
62638                 0           0              0   NaN        NaN
62639                 0           0              0   NaN        NaN
62640                 0           0              0   NaN        NaN
62641                 0           0              0   NaN        NaN

[62642 rows x 29 columns]>

In [29]:
# Number of null values in each column
df.isna().sum()

timestamp                      0
company                        5
level                        123
title                          0
totalyearlycompensation        0
location                       0
yearsofexperience              0
yearsatcompany                 0
tag                          870
basesalary                     0
stockgrantvalue                0
bonus                          0
gender                     19540
otherdetails               22508
cityid                         0
dmaid                          2
rowNumber                      0
Masters_Degree                 0
Bachelors_Degree               0
Doctorate_Degree               0
Highschool                     0
Some_College                   0
Race_Asian                     0
Race_White                     0
Race_Two_Or_More               0
Race_Black                     0
Race_Hispanic                  0
Race                       40215
Education                  32272
dtype: int64

# Review data dropped to see if column with null values can be included based on variables used in model

In [26]:
# Remove rows with null values in subset columns
df = df.dropna(subset=['gender', 'Education', 'company', 'Race', 'tag', 'level'])
# Verify removal
print(df.isna().sum())

timestamp                  0
company                    0
level                      0
title                      0
totalyearlycompensation    0
location                   0
yearsofexperience          0
yearsatcompany             0
tag                        0
basesalary                 0
stockgrantvalue            0
bonus                      0
gender                     0
otherdetails               0
cityid                     0
dmaid                      0
rowNumber                  0
Masters_Degree             0
Bachelors_Degree           0
Doctorate_Degree           0
Highschool                 0
Some_College               0
Race_Asian                 0
Race_White                 0
Race_Two_Or_More           0
Race_Black                 0
Race_Hispanic              0
Race                       0
Education                  0
dtype: int64